---
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';

import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import '~/styles/global.css';


import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { isDraftModeEnabled } from '~/lib/draftMode';

export interface Props {
  title: string;
}

const { additionalSeo = [] } = Astro.props;


const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);
const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });

---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>