---
import { Seo } from '@datocms/astro';

import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import '~/styles/global.css';


import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { isDraftModeEnabled } from '~/lib/draftMode';
import { setSourceMapRange } from 'typescript';


const { seo = [] } = Astro.props;


const query = graphql(
  /* GraphQL */ `
    query RootQuery {
     site: _site {
        favicon: faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);
const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });

---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <Seo data={[...seo, ...result.site.favicon]} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>